@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-width-lg: calc(48px * 12 + 32px * 11);
  }

  *:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-focus forced-colors:outline-[Highlight];
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .clip-diamond {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%);
  }

  .clip-hexagon {
    clip-path: polygon(
      50% 0%,
      99.206% 25%,
      99.206% 75%,
      50% 100%,
      0.794% 75%,
      0.794% 25%,
      50% 0%
    );
  }
}
