:root {
    --color-background: #201a19;
    --color-on-background: #ede0dd;
    --color-outline: #a08c89;
    --color-surface: #201a19;
    --color-on-surface: #ede0dd;
    --color-primary: #ffb4a8;
    --color-on-primary: #690000;
    --color-secondary: #fabd00;
    --color-on-secondary: #3f2e00;
    --color-primary-surface: #930201;
    --color-on-primary-surface: #ffdad4;
    --color-secondary-surface: #5b4300;
    --color-on-secondary-surface: #ffdf9d;
}

.z-depth-2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12),
        0 3px 1px -2px rgba(0, 0, 0, .2);
}

.z-depth-3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14),
        0 1px 8px 0 rgba(0, 0, 0, .12),
        0 3px 3px -2px rgba(0, 0, 0, .4);
}

.z-depth-4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
        0 1px 10px 0 rgba(0, 0, 0, .12),
        0 2px 4px -1px rgba(0, 0, 0, .4);
}

.z-depth-6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14),
        0 1px 18px 0 rgba(0, 0, 0, .12),
        0 3px 5px -1px rgba(0, 0, 0, .4);
}

.z-depth-8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
        0 3px 14px 2px rgba(0, 0, 0, .12),
        0 5px 5px -3px rgba(0, 0, 0, .4);
}

.z-depth-16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14),
        0 6px 30px 5px rgba(0, 0, 0, .12),
        0 8px 10px -5px rgba(0, 0, 0, .4);
}

.z-depth-24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14),
        0 24px 38px 3px rgba(0, 0, 0, .12),
        0 11px 15px -7px rgba(0, 0, 0, .4);
}

* {
    color: var(--color-on-background);
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: var(--color-background);
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

.surface {
    background: var(--color-surface);
}

.outlined {
    border: solid 1px var(--color-outline);
}

.primary-surface {
    background: var(--color-primary-surface);
}
