@import "mixins";

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-grow: 1;
    margin: auto;
}

.roleButtonsWrapper {
    display: flex;
    gap: 150px;
}

.roleButton {
    @include z-depth-3dp;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Image width is 200px */
    width: 200px;
    height: 240px;
    padding: 30px 25px;
    border-radius: 10px;
    background: $color-primary-surface;
    transition: 0.2s ease-out;

    &:hover {
        @include z-depth-8dp;
    }
}

.roleButton__image {
    filter: brightness(90%);
}

.roleButton__text {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}

.randomButton {
    justify-self: flex-start;
    padding: 10px 20px;
    border-radius: 100px;
    background: $color-secondary-surface;
    color: $color-on-secondary-surface;
    font-size: 16px;
    transition: 0.2s ease-out;

    &:hover {
        @include z-depth-3dp;
    }
}
